<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waffle! - {% block title %}Home{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/stylesheets/style.css" rel="stylesheet">

    <!-- jQuery -->
    <script defer src="./node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script defer src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <div class="auth-buttons">
            <button type="button" class="btn btn-lg btn-primary btn-block auth-btn">Sign up</button>
            <button type="button" class="btn btn-lg btn-default btn-block auth-btn">Log in</button>
          </div>
          <div class="primary-nav">
            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active"><a href="#">Home</a></li>
              <li role="presentation"><a href="#">Profile</a></li>
              <li role="presentation"><a href="#">Messages</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>